@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  height: 90%;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  margin-bottom: 0px;
}

h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 0px;
  color: rgba(224,15,121,1)
}

h3 {
  font-size: 30px;
  background: -webkit-linear-gradient(180deg, rgba(224,15,121,1) 0%, rgba(244,7,127,1) 20%, rgba(126,202,251,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  font-weight: 600;
  margin-left: 15px;
}

h4 {
  font-size: 20px;
  margin-top: 0px;
  color: rgba(126,202,251,1);
}


